[Unit]
Description=Factorio Headless Server

After=network.target
After=systemd-user-sessions.service
After=network-online.target

Requires=factorio.socket

[Service]
Type=simple
User=factorio
Group=factorio
WorkingDirectory={{ factorio_full_path }}

Restart=always

ExecStart={{ factorio_executable_path }} --start-server {{ factorio_save_path}} --server-settings {{ factorio_full_path }}/data/server-settings.json
ExecStop=echo "Server will stop shortly" > {{ factorio_full_path }}/in.socket
ExecStop=sleep 4
ExecStop=kill -2 $MAINPID

Sockets=factorio.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.targes
